<mat-card>
  <mat-card-title>
    <h1>Customer</h1>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" autocomplete="off" novalidate (submit)="onSubmit()">
      <div class="row">
          <div class="col-md-4">
            <app-input-text name="inputName" label="Name" formControlName="name" [focused]="true"></app-input-text>
          </div>
          <div class="col-md-2">
            <app-input-number name="inputAge" label="Age" formControlName="age"></app-input-number>
          </div>
          <div class="col-md-4">
            <app-input-text name="inputDocument" label="Document" formControlName="document"></app-input-text>
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="primary" [disabled]="form.invalid">Confirmar</button>
          </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <span *ngIf="customer" style="color: blue;">{{"Customer - Name: " + customer.name + " Age: " + customer.age}}</span>
</mat-card>
