<mat-error *ngIf="service.hasErrorValidar(control, 'required')">Required field</mat-error>

<mat-error *ngIf="service.hasErrorValidar(control, 'min')">
  The minimum value is {{service.lengthValidar(control, 'min')}}
</mat-error>

<mat-error *ngIf="service.hasErrorValidar(control, 'max')">
  The maximum value is {{service.lengthValidar(control, 'max')}}
</mat-error>

<mat-error *ngIf="service.hasErrorValidar(control, 'minlength')">
  Field must have at least {{service.lengthValidar(control, 'minlength')}} characters
</mat-error>

<mat-error *ngIf="service.hasErrorValidar(control, 'maxlength')">
  Field can have at most {{service.lengthValidar(control, 'maxlength')}} characters
</mat-error>
