<mat-card>
  <mat-card-title>
    <h1>Customer List</h1>
  </mat-card-title>
  <mat-card-content>
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      (edit)="onEdit($event)"
      (delete)="onDelete($event.id, $event.nome)"
      [pageIndex]="pageIndex"
      [pagelength]="pagelength"
      [pageSize]="pageSize"
      (page)="onPesquisar(pageIndex)">
    </app-table>
  </mat-card-content>
</mat-card>

<app-example-basic-table></app-example-basic-table>

